* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header_p {
    font-weight: bolder;
    color: black;
    font-size: 30px;
    font-family: 'Hepta Slab', serif;
}

.header_btn {
    height: 40px;
    width: 130px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-family: 'Headland One', serif;
    font-size: 15px;
}

/*table cart menu*/

.table_design {

    border-collapse: separate;
    border-spacing: 0 20px;
}

.table_design th {

    border: none !important;
    font-family: 'Headland One', serif;
    font-size: 16px;
    font-weight: bolder !important;
}

.table_design th,
.table_design td {

    text-align: center;
    vertical-align: middle;
}

.d-flex {

    margin: 0;
    padding: 0;
}

.table_design .d-flex {
    justify-content: start;
}

.table_design img {
    display: block;
    margin: 0;
}

.table_design {
    min-width: 1000px;
}

.table_design td {

    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: none;
    border-right: none;
    padding: 0;
}

.table_design tr:first-child td {
    border-top: 1.5px solid black;
}

.table_design tr:last-child td {
    border-bottom: 1.5px solid black;
}

.custom-border {
    border-radius: 10px;
}

.btn_edit {
    background-color: skyblue;
    border: none;
    width: 90px;
    height: 35px;
    color: rgb(14, 13, 13);
    border-radius: 30px;
    text-transform: capitalize;
    font-family: 'Headland One', serif;
}

.btn_delete {
    background-color: red;
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 30px;
    text-transform: capitalize;
    font-family: 'Headland One', serif;
    text-decoration: none;
}

.table-responsive {
    overflow: hidden;
}

.table-responsive::-webkit-scrollbar {
    display: none;
}

.table-responsive {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.quan_input {
    height: 40px;
}

/*check out area*/
.btn_check {
    border: none;
    border-radius: 10px;
    width: 100%;
    max-width: 130px;
    height: 40px;
    background-color: rgb(238, 115, 76);
    color: white;
    font-family: 'Headland One', serif;
    margin: 10px auto;
}

.check_text {
    font-family: 'Headland One', serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.pad {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .btn_check {
        width: 130px;
        height: 50px;
        margin: 0;
    }

    .check_text {
        font-size: 18px;
    }

    .pad {
        margin-right: 20px;
        margin-bottom: 0;
    }
}