* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.carousel-item h4 {
    text-shadow: 4px 4px 5px black;
    font-size: 100px;
    color: #664222;
}

.carousel-item p {
    color: #E2C799;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
}

.sec3 .about_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    color: black;
    font-size: 25px;
    font-family: 'Hepta Slab', serif;
}


/* carousel */
.carousel-width-adjust {
    margin: 30px auto;
}

.carousel-img {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}



@media (max-width: 576px) {
    .carousel-img {
        max-height: 50vh;
        object-fit: cover;
    }

    .carousel-caption {
        font-size: 0.8rem;
    }

    .carousel-caption h5 {
        font-size: 1.2rem;
    }
}

/* Above of the menu Area */
.sec2 .menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    color: black;
    font-size: 25px;
    font-family: 'Hepta Slab', serif;
}

.sec2 .menu_header>p {
    margin: 0;
}


.sec2 .end_menu_header {
    display: flex;
    align-items: center;
}

.sec2 .end_menu_header p.right {
    margin: 0;
    line-height: 1;
}

.right {
    font-weight: bolder;
    color: black;
    font-family: 'Headland One', serif;
    font-size: 15px;
}

.menu_header img {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.menu_header img {
    height: 30px;
    width: auto;
}


@media (max-width: 768px) {
    .sec2 .menu_header {
        font-size: 20px;
    }

    .right {
        font-size: 12px;
    }

    .menu_header img {
        height: 25px;
        margin-left: 5px;
    }
}

/* menu Area */
.card .card_style {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border: none;
}

.card_style img {
    height: 300px;
    width: 400px;
}

.card-body p {
    margin: 0;
    font-family: 'Headland One', serif;
    font-size: 15px;
}

.card {
    overflow: hidden;
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.menu_header.img {
    transition: all 0.3s ease;
}

.menu_header.img:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(49%) saturate(693%) hue-rotate(349deg) brightness(92%) contrast(88%);
    transform: translateY(-5px);
    /* Optional: Adds a slight lift effect */
    transition: filter 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
}

.cart_btn {
    border: none;
    background-color: #6B4226;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Headland One', serif;
    padding: 8px 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cart_btn:hover {
    transform: scale(1.05);
    background-color: #C08261;
    color: black;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}


/* about image design*/
.aboutUsImage img {
    width: 600px;
    height: 500px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

}

.about_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Headland One', serif;
    font-size: 17px;
    text-align: justify;
    line-height: 2;
}

.col-md-6 {
    display: flex;
    align-items: center;
}

.sec4 .custom-card-width {
    width: 60%;
    margin: 0 auto;
    border-radius: 15px;
    border: black 1px solid;
    min-width: 300px;
}

.sec4 .formBtn{
    width: 100%;
}

/* Sign Up*/
.form-control {
    border-radius: 10px;
    font-size: 15px;
    height: 40px;
    color: black;
    margin-top: 20px;
}

.outer_input {}