* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

footer {
    font-family: 'Hepta Slab', serif;
    background-color: black;
    width: 100%;
    padding-top: 10px;
    color: white;
}

.foot-container {
    display: grid;
    place-items: center;
}

.foot_head {
    font-weight: bolder;
}

.trademark {
    font-size: 25px;
}

.contact {
    font-size: 13px;
    margin: 0px;
}

.footer_img {
    display: flex;
    gap: 10px;
}

.footer_img img {
    width: 40px;
}

.last {
    font-size: 13px;
    margin-bottom: 35px;
}