body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D2B48C;
}


.caccount {
    font-size: 10px;
}


.form-control {
    border-radius: 10px;
    font-size: 15px;
    height: 40px;
}

.outer {
    margin-top: 10px;
}

.form-label {
    font-family: 'Headland One', serif;
    font-size: 15px;
}

.text-center {
    width: 100%;
}


.loginBtn {
    background-color: #6B4226;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.loginBtn:hover {
    /* --Slide Up Effect */
    transform: translateY(-3px);
    /* --Pop Out + Lift */
    /* transform: scale(1.05) translateY(-2px);*/
    /* --Rotate Slightly */
    /* transform: rotate(-1deg) scale(1.05);*/
    /* --Pulse/Pop Slightly Bigger */
    /* transform: scale(1.1); */
    /* ---Skew effect on hover--*/
    /* transform: skewX(-5deg) scale(1.05); */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    background-color: white;
    border: 2px solid #6B4226;
    color: black;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}


/* Mobile-first styling */
.loginCard {
    width: 100%;
    border: #6B4226 2px solid;
}

 .loginCard .cardHeader {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 28px;
    margin-bottom: 25px;
}


.loginContainer {
    border: black 0px solid;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    /* Enables Flexbo
    x */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100%;
    background-color: transparent;
    /* Just for visibility */
    margin-top: 100px;
}

.loginContainer .nav {
    color: black;
}

/* changes colors when form is focused*/
.outer input:focus {
    border-color: #6B4226;
    /* Change border color */
    background-color: #f0f8ff;
    /* Light blue background */
    outline: none;
    /* Remove default outline */
    box-shadow: #6B4226;
    /* Add a glowing effect */
}

@media (min-width: 768px) {
    .loginCard {
        width: 500px;
    }
}